html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1{
  text-align: center;
}

#mainFlexContainer{
  display: flex;
  outline: 1px dashed black;
  flex-direction: row;

  width: 100%; /* very */
  max-width:1000px; /* useful */

  margin:auto;
}

#mainFlexContainer p{
  padding-left: 5px;
  padding-right: 5px;
}


/* CSS BREAKPOINT */
/* Allows us to specifcy some styles
that should only apply at certain 
browser window dimensions */
@media (max-width: 800px) {
  /* CSS rules */
  #mainFlexContainer{
    flex-direction: column;
    max-width:500px; 
  }
  #canvasContainer{
    order: 1;
  }
  .intro{
    order: 2;
  }
  .credits{
    order: 3;
  }
}